# Кэши Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
cache/
tmp/

# Виртуальные окружения Python
.venv/
.venv
venv/
env/
ENV/

# Файлы IDE
.idea/
.vscode/

# Пакеты и сборки
dist/
build/
*.egg-info/

# Модели ИИ
*.bin
*.safetensors
*.pt
*.pth
*.ckpt
model/
models/
llm/
checkpoints/
*.h5
*.pb
*.log
*.tmp
*.temp

# Кэш Hugging Face
.cache/
.cache/huggingface/

# Файлы ОС
.DS_Store
Thumbs.db
desktop.ini
