{% extends 'blog/base.html' %}
{% block content %}
	<section class="section-conten padding-y bg">
		<div class="container">
			<div class="row justify-content-center" style="margin-left: 100px;">
				<main>
					<article >
						<header class="card-header">
							<strong class="d-inline-block mr-3">Измените Свой пароль</strong>
						</header>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<form method="POST">
										{% csrf_token %}
										<label for="id_old_password">Старый пароль</label>
										<input type="password" class="form-control mb-1" name="old_password"
										       autocomplete="new-password" required
										       id="id_old_password"
										/>
										<label for="id_new_password1">Новый пароль</label>
										<input type="password" class="form-control mb-1" name="new_password1"
										       autocomplete="new-password"
										       required id="id_new_password1"
										       />
										<label for="id_new_password2">Ещё раз</label>
										<input type="password" class="form-control mb-1" name="new_password2"
										       autocomplete="new-password"
										       required id="id_new_password2"/>
										<button type="submit" class="btn btn-primary btn-lg" id="reset">Обновить
										</button>
									</form>
								</div>

							</div> <!-- row.// -->
						</div> <!-- card-body .// -->

					</article> <!-- order-group.// -->
				</main>
			</div> <!-- row.// -->
		</div>


	</section>

{% endblock %}