{% load static %}
<div class="author-info mt-4 mb-5">
    <p class="date text-muted small">
        Опубликовано {{ post.publish|date:"d.m.Y H:i" }} • Автор: {{ post.author }}
    </p>

    <!-- Аватар и имя -->
    <div class="vcard bio d-flex align-items-center">
        {% if post.author.profile.avatar %}
            <img src="{{ post.author.profile.avatar.url }}" alt="{{ post.author }}" width="50" height="50" class="rounded-circle mr-3">
        {% else %}
            <img src="{% static 'images/avatar.jpg' %}" alt="Author" class="rounded-circle mr-3" width="50" height="50">
        {% endif %}
        <strong class="author-name">{{ post.author }}</strong>
    </div>

    <!-- Кнопка "Поделиться" -->
    <p class="mt-3">
        <a href="{% url 'blog:post_share' post.id %}" class="btn-share btn btn-sm">
            🔄 Поделиться записью
        </a>
    </p>
</div>