{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
	{% for post in posts %}
		<div class="col-md-12">
			<div class="blog-entry-2 ftco-animate">
				{% if post.image %}
					<a href="{{ post.get_absolute_url }}" class="img"
					   style="background-image: url(
							   {{ post.image.url }});"></a>
				{% else %}
					<a href="{{ post.get_absolute_url }}" class="img"
					   style="background-image: url({% static 'images/image_1.jpg' %});"></a>
				{% endif %}
				<div class="text pt-4">
					<h3 class="mb-4"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
					<p class="mb-4">{{ post.body }}</p>
					<div class="author mb-4 d-flex align-items-center">
						<a href="#" class="img"></a>
						<div class="ml-3 info">
							<span>Опубликовано</span>
							<h3><a href="#">{{ post.author }}</a>, <span>{{ post.publish|date:"F d, Y" }}</span></h3>
						</div>
					</div>
					<div class="meta-wrap d-md-flex align-items-center">
						<div class="half order-md-last text-md-right">
							<p class="meta">
								<span><i class="icon-heart"></i>3</span>
								<span><i class="icon-eye"></i>{{ post.views }}</span>
								<span><i class="icon-comment"></i>{{ post.comments.count }}</span>
							</p>
						</div>
						<div class="half">
							<p><a href="{{ post.get_absolute_url }}" class="btn btn-primary p-3 px-xl-4 py-xl-3">Продолжать
 Чтение</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}