{% if comment %}
    <h2>Your comment has been added.</h2>
{% else %}
    <div class="comment-form-wrap pt-5" style="width: 100%">
        <h3 class="mb-5">Комментарий</h3>
        <form action="{% url 'blog:post_comment' post.id %}" method="post" class="p-3 p-md-5 bg-light">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">
                            {% for error in field.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="form-group">
                <input type="submit" value="Комментировать" class="btn py-3 px-4 btn-primary">
            </div>
        </form>
    </div>
{% endif %}

<p><a href="{{ post.get_absolute_url }}">Назад к записи</a></p>
